.well-help-digitally-containers{
    color: var(--color-darkslategray-200);
    font-size: var(--font-size-21xl);
    font-family: var(--font-bebas-neue);
    padding: 3rem;

}
.headingsNew{
    display:flex;
    justify-content: center;
    margin-top: 1rem;
}
.with-tcs-enterprises{
    display: flex;
    justify-content: center;
}
.paraLines {
   width: 50rem;
    text-align: center;
    font-size: 19px;
    color: var(--color-gray-100);
  }
  @media (max-width: 768px) {
  .well-help-digitally-containers{
    text-align: center;
  }}
  