.BgClouds {
    width: 100%;
    height: 100vh;

    justify-content: center;
    background-image: url(../../assets/imageedit_4_8452225823.png) ; 
    background-size: cover;
    background-repeat: repeat-x repeat-y;
    background-position: top;
    opacity: 0.5px;
    display: flex;
align-items: center;
  }