.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.ant-layout-header {
  background: #001529 !important;
  background-image: none !important;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Change header background and text color */
.ant-table-thead > tr > th {
  background-color: #33496e !important; /* Your desired bg color */
  color: white !important; /* Your desired text color */
}

/* Optional: Change header hover state */
.ant-table-thead > tr > th:hover {
  background-color:#33496e !important;
}

/* Optional: Change sort icons color */
.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner {
  color: rgba(255, 255, 255, 0.65);
}

/* Optional: Change active sort icon color */
.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner-active {
  color: white;
}